:root {
  --main-bg-color: hsl(185, 75%, 39%);
  --headings-text-color: hsl(229, 23%, 23%);
  --subheadings-text-color: hsl(0, 0%, 59%);
  --size-profile-photo: 96px;
}

* {
  margin: 0;
  padding: 0;
}
body{
  background: rgb(192, 191, 191);
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
}
.container{
  margin: 100px auto 50px;
  background-color: #FFFFFF;
  border-radius: 15px;
  width: 330px; 
  min-height: 330px;
  overflow: hidden;
  position: relative;
  /* border: 1px solid black; */
}
/* @media screen and (min-width: 1440px){
  .container{
      width: 380px;
  }
} */

.headrer{
  height: 140px;
  background: rgb(33, 38, 45);
}
.photo img{
  border-radius: 50%;
  overflow: hidden;
  position:absolute;
  background: rgb(255, 255, 255);
}
.profile-photo{
  height: var(--size-profile-photo);
  border: 5px solid white;
  top: 87px; 
  left: 35%;
}
.base-info{
  min-height: 120px;
  background-color: white;
  text-align: center;
  padding-top: 65px;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.user-name{
  color: var(--headings-text-color);
  font-weight: 700;
}
.age, .user-location{
  color: var(--subheadings-text-color);
}
.user-location, .user-emain{
  font-size: 0.8em;
  margin-top: 10px;
}
.statistics{
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-top: 1px solid hsl(0, 0%, 90%);
}
.quantity{
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--headings-text-color);
}
.units{
  font-weight: 400;
  font-size: 0.6em;
  color: var(--subheadings-text-color);
  letter-spacing: 2px; /* расстояние между символами */
}

.block-search{
  position: relative;
  /* border: 1px solid red; */
  color: var(--headings-text-color);
}
.input-search{
  border: none;
  border-bottom: 2px solid rgb(33, 38, 45);
  outline: none; /* удаляет обводку активного input */
  padding: 2px 30px 2px 2px;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  max-width: 35%;
}
.bt-search{
  position: absolute;
  background: none;
  border: none;
  top: 10%;
  right: 90px;
  font-weight: 700;
}
.bt-search:hover{
  color: green;
}
.bt-search:active{
  font-weight: 900;
}

.user-name,
.user-email,
.user-location {
  display: none;
}